.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap-reverse;
}
