<form class="container" [formGroup]="form">
  <input
    type="text"
    pInputText
    placeholder="Website"
    formControlName="website"
  />
  <input
    type="text"
    placeholder="Username"
    pInputText
    formControlName="username"
  />
  <input
    placeholder="Password"
    pPassword
    type="password"
    [feedback]="false"
    formControlName="password"
  />
  <div class="btn-container">
    <p-button
      icon="pi pi-arrow-circle-left"
      label="Back"
      (click)="goBack()"
    ></p-button>
    <p-button
      icon="pi pi-plus"
      label="Add website"
      class="btn--submit"
      (click)="addWebsite()"
      [disabled]="!form.valid"
    ></p-button>
  </div>
</form>
