.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding-bottom: 10vh;
  // padding-inline: 1rem;

  // margin-bottom: 60px;
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 2.5rem;
      text-align: center;
      line-height: 2ch;
    }
    p {
      text-align: center;
    }
  }

  img {
    width: 100%;
    max-width: 40rem;
  }
}
