<section class="wrapper">
  <div class="filler"></div>
  <div class="container shadow-2">
    <h1 class="title">{{ getTitle() | async }}</h1>
    <p-divider></p-divider>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
<p-toast></p-toast>
