@import "src/assets/scss/vars";

.wrapper {
  width: 100%;
  height: clamp(30rem, var(--min-height), var(--min-height));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  @media screen and (min-height: 907px) {
    padding: 5rem;
    padding-bottom: calc(5rem + var(--nav-height));
  }

  background: $background-clr;

  & > .filler {
    content: "";
    position: absolute;
    width: 100%;
    top: var(--nav-height);
    bottom: calc(var(--min-height) - 11rem);
    background: $banner-clr;
    z-index: 50;
  }
  min-height: 0;
}

.container {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem 0.5rem;
  background: white;
  z-index: 99;
  padding: 1rem;

  @media screen and (min-width: 320px) {
    padding: 2rem;
  }

  display: grid;
  grid-template-rows: auto auto 1fr;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
