@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

$height: 70.84px;

.navbar {
  width: 100%;
  padding: 0.5rem 2rem;
  height: 54.84px;
}

.banner {
  background: var(--accent-clr);
  width: 100%;
  height: 5px;
}

.title {
  font-family: "Open Sans";
  font-weight: 600;
  margin: 0;
  color: #3b3b3b;

  strong {
    color: var(--accent-clr);
  }
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin-inline: auto;
  height: 100%;
  width: 100%;
}

.navbar__links {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  height: 100%;
  align-items: center;
  flex-direction: row;
}

.menu {
  display: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 30vh;
  * {
    font-size: 35px;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    display: unset;
  }

  .navbar__links {
    display: none;
  }
}

.avatar {
  height: 100%;
  border-radius: 50%;
}

.end-section {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
