<div class="banner"></div>
<header class="navbar">
  <section class="navbar__container">
    <div>
      <a pButton class="p-button-text" href="/">
        <h1 class="title">Passwrd<strong>Mngr</strong></h1>
      </a>
    </div>
    <nav class="navbar__links">
      <button
        pButton
        class="p-button-text p-button-plain"
        label="NPM"
        (click)="toNpm()"
      ></button>
      <button
        pButton
        class="p-button-text p-button-plain"
        label="Home"
        (click)="toHome()"
      ></button>
      <div class="end-section">
        <button
          pButton
          pRipple
          type="button"
          label="Go to dashboard"
          class="p-button-text p-button-info"
          (click)="toDashboard()"
        ></button>
        <img
          class="avatar"
          *ngIf="profilePic$ | async"
          [src]="profilePic$ | async"
        />
      </div>
      <button
        pButton
        label="Sign in"
        class="p-button-text p-button-info"
        *ngIf="!(user$ | async)"
        (click)="toLogin()"
      ></button>
      <ng-template #noAuth>
        <button
          pButton
          class="p-button-text p-button-info"
          label="Sign In"
          (click)="toLogin()"
        ></button>
      </ng-template>
    </nav>
    <button mat-icon-button class="menu" (click)="setActive()">
      <mat-icon>menu</mat-icon>
    </button>
  </section>
</header>

<p-sidebar
  [(visible)]="active"
  [fullScreen]="true"
  styleClass="sidebar__container"
>
  <nav class="sidebar">
    <button
      pButton
      class="p-button-text p-button-plain"
      label="NPM"
      (click)="toNpm()"
    ></button>
    <button
      pButton
      class="p-button-text p-button-plain"
      label="Home"
      (click)="toHome()"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Dashboard"
      class="p-button-text p-button-info"
      (click)="toDashboard()"
      *ngIf="user$ | async; else noAuth"
    ></button>
    <ng-template #noAuth>
      <button
        pButton
        class="p-button-text p-button-info"
        label="Sign In"
        (click)="toLogin()"
      ></button>
    </ng-template>
  </nav>
</p-sidebar>
<!-- <header class="navbar-wrapper">
  <section class="navbar__container">
    <h1 class="navbar__title">PasswrdMngr</h1>
    <button
      mat-icon-button
      (click)="setActive()"
      class="over hamburger"
      [class]="active ? 'active' : ''"
    >
      <span class="bar"></span><span class="bar"></span
      ><span class="bar"></span>
    </button>
    <nav class="navbar__links" [class]="active ? 'active z-index' : 'z-index'">
      <a class="navbar__link" routerLink="">home</a>
      <a
        *ngIf="!!!(user$ | async); else gotToken"
        [routerLink]="['auth', 'login']"
        >login</a
      >
      <ng-template #gotToken>
        <a class="navbar__link" [routerLink]="['app', 'dashboard']"
          >dashboard</a
        >
      </ng-template>
    </nav>
  </section>
</header> -->
