<!-- <div class="container">
<div class="forms-container">
<div class="panels-container">
<div class="signin-signup">
<form class="sign-in-form" (ngSubmit)="emailAuth()" [formGroup]="form">
<h2 class="title">Sign in</h2>
<div class="input-field">
<i class="pi pi-user"></i>
<input type="text" placeholder="username" formControlName="email" />
</div>
<div class="input-field">
<i class="pi pi-key"></i>
<input type="password" placeholder="password" />
</div>
<input type="submit" class="btn solid" value="login" />
<p class="social-text">Or sign in with social platforms</p>
<div class="social-media">
<a href="#" class="social-icon">
	<i class="pi pi-facebook"></i>
</a>
<a href="#" class="social-icon">
	<i class="pi pi-twitter"></i>
</a>
<a href="#" class="social-icon">
	<i class="pi pi-google"></i>
</a>
<a href="#" class="social-icon">
	<i class="pi pi-linkedin"></i>
</a>
</div>
</form>
</div>
</div>
</div>
</div> -->

<div class="container">
  <section class="side">
    <img
      src="https://raw.githubusercontent.com/mariofornaroli/y-responsive-login-landing/main/images/img.svg"
      alt=""
    />
  </section>

  <section class="main">
    <div class="login-container">
      <p class="title">Welcome back</p>
      <p class="welcome-message">
        Please, provide login credentials to get access to our product
      </p>

      <form class="login-form" [formGroup]="form">
        <div class="form-control p-input-icon-left">
          <i class="pi pi-user"></i>
          <input
            type="text"
            placeholder="Email"
            pInputText
            formControlName="email"
          />
        </div>
        <button
          pButton
          [disabled]="inputDisabled"
          (click)="emailAuth()"
          label="Login"
        ></button>
      </form>
    </div>
  </section>
</div>

<!-- <div class="card-wrapper">
  <div class="card shadow-7">
    <div class="left">
      <img src="assets/svg/login_new.svg" alt="" class="img-left" />
    </div>
    <div class="right">
      <section class="header">
        <div class="img_wrapper">
          <img src="assets/svg/login_ext.svg" alt="" class="img--guard" />
        </div>
        <div>
          <h1 class="title">Welcome to the vault!</h1>
          <p class="title-desc">Chose your login method to authenticate</p>
        </div>
      </section>
      <div class="auth-wrapper">
        <form
          [formGroup]="form"
          (ngSubmit)="emailAuth()"
          class="form-container"
        >
          <input
            type="email"
            pInputText
            formControlName="email"
            placeholder="Type email"
          />
          <button type="submit" [disabled]="inputDisabled" pButton pRipple>
            Login
          </button>
        </form>
        <p-divider class="divider" align="center"
          ><span class="divider__text">or</span></p-divider
        >
        <div class="button-container">
          <button pButton (click)="googleAuth()" class="p-button-success">
            <i class="pi pi-google"></i>
            <span class="ml-2">Authenticate with Google</span>
          </button>
          <button
            styleClass="p-px-3"
            (click)="githubAuth()"
            pButton
            class="p-button-info"
          >
            <i class="pi pi-github"></i>
            <span class="ml-2">Authenticate with Github</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<p-toast position="top-right" key="tl"></p-toast>

<!-- 
          <input
            type="email"
            pInputText
            formControlName="email"
            placeholder="Type email"
          />
          <button type="submit" [disabled]="inputDisabled" pButton pRipple>
            Login
          </button> -->

<!-- <div class="card-wrapper">
  <div class="card shadow-7">
    <section class="header">
      <img src="assets/svg/login_ext.svg" alt="" />
      <div>
        <h1>Welcome back!</h1>
        <span>Chose your login method to authenticate</span>
      </div>
    </section>
    <div class="auth-wrapper">
      <form [formGroup]="form" (ngSubmit)="emailAuth()" class="form-container">
        <input
          type="email"
          pInputText
          formControlName="email"
          placeholder="Type email"
        />
        <button type="submit" [disabled]="inputDisabled" pButton pRipple>
          Submit
        </button>
      </form>
      <p-divider class="divider" align="center"
        ><span class="divider__text">or</span></p-divider
      >
      <div class="button-container">
        <button pButton (click)="googleAuth()" class="p-button-success">
          <i class="pi pi-google"></i>
          <span class="ml-2">Authenticate with Google</span>
        </button>
        <button
          styleClass="p-px-3"
          (click)="githubAuth()"
          pButton
          class="p-button-info"
        >
          <i class="pi pi-github"></i>
          <span class="ml-2">Authenticate with Github</span>
        </button>
      </div>
    </div>
  </div>
</div>
<p-toast position="top-right" key="tl"></p-toast>
 -->
