// @import "src/assets/scss/vars";

.container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main {
  padding-bottom: 10vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.side {
  background: url(https://raw.githubusercontent.com/mariofornaroli/y-responsive-login-landing/main/images/bk.png)
    no-repeat;
  background-size: 100% 102%;
}

.side img {
  width: 50%;
  max-width: 50%;
}

.login-container {
  max-width: 450px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  line-height: 2.5rem;
}

.separator {
  width: 150px;
  height: 4px;
  background-color: #843bc7;
  margin: 24px;
}

.welcome-message {
  text-align: center;
  font-size: 1.1em;
  line-height: 28px;
  margin-bottom: 30px;
  color: #696969;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}

// input,
// button {
//   border: none;
//   outline: none;
//   border-radius: 30px;
//   font-size: 1.1em;
// }

input {
  width: 100%;
  // background: #e6e6e6;
  // color: #333;
  // letter-spacing: 0.5px;
  // padding: 14px 64px;
}

// input ~ i {
//   position: absolute;
//   left: 32px;
//   top: 50%;
//   transform: translateY(-50%);
//   color: #888;
//   transition: color 0.4s;
// }

// input:focus ~ i {
//   color: #843bc7;
// }

button.submit {
  color: #fff;
  padding: 14px 64px;
  margin: 32px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background-image: linear-gradient(to right, #8b33c5, #15a0e1);
  cursor: pointer;
  transition: opacity 0.4s;
}

button.submit:hover {
  opacity: 0.9;
}

/* ----  Responsiveness   ----  */
@media (max-width: 780px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .side {
    display: none;
  }
}

// .card-wrapper {
//   width: 100%;
//   min-height: 100%;
//   background: lightblue;
//   padding: 1rem;
//   display: grid;
//   grid-template: 1fr / 1fr;
// }

// .card {
//   padding: 1rem;
//   border-radius: 0.5rem;
//   background: burlywood;
// }

// .left {
//   display: none;
//   appearance: none;
// }

// .right {
//   width: 100%;
//   height: 100%;
//   display: grid;
//   justify-content: center;
//   grid-template-rows: 40% 40%;
//   // gap: 1rem;
//   & > * {
//     background: red;
//   }
// }

// .header {
//   display: grid;
//   grid-template-rows: 1fr 1fr;
//   & > * {
//     background: blue;
//   }
//   gap: 1rem;
// }

// .card-wrapper {
//   width: 100%;
//   min-height: 100%;
//   background: $background-clr;
//   padding-block: 1rem;
//   padding-inline: 1rem;
//   display: grid;
//   grid-template: 1fr / 1fr;
//   // display: flex;
//   // justify-content: center;

//   @media screen and (min-height: 860px) {
//     padding-top: 7.5vh;
//     padding-bottom: 12.5vh;
//   }
// }

// .card {
//   flex: 1;
//   background: white;
//   width: 100%;
//   height: 100%;
//   max-width: 100rem;
//   margin-inline: auto;

//   display: grid;
//   grid-template-columns: 1fr;
//   padding: 1rem;
//   border-radius: 0.5rem;
// }

// .left {
//   display: none;
//   appearance: none;
// }

// .right {
//   display: grid;
//   justify-content: center;
//   // grid-template-rows: ;
//   // padding-top: auto;
//   margin-block: auto;
//   // gap: 1rem;
// }

// .header {
//   display: grid;
//   grid-template-rows: min(1fr, 50%) auto;
//   justify-content: space-evenly;
//   text-align: center;
// }

// .img_wrapper {
//   padding: 1rem;
// }

// .img--guard {
//   width: 100%;
//   height: 100%;
// }

// .form-container {
//   width: 100%;
//   display: flex;
//   gap: 1rem;
//   flex-wrap: wrap;
//   justify-content: center;
// }

// .button-container {
//   display: flex;
//   gap: 1rem;
//   justify-content: center;
//   flex-wrap: wrap;
// }

// .title {
//   font-size: 1.8rem;
// }

// .title-desc {
//   font-size: 1rem;
//   margin: 0;
// }

// .auth-wrapper {
//   // height: auto;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   // padding-tp
// }

// .card-wrapper {
//   // width: 100%;
//   min-height: 100%;
//   padding-inline: 1rem;
//   padding-block: 10vh;
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-template-rows: 1fr;
//   @media screen and (max-height: 700px) {
//     padding-block: 2rem;
//   }
//   @media screen and (max-width: 300px) {
//     padding-inline: 0.5rem;
//   }
// }

// .card {
//   width: 100%;

//   // max-width: 100rem;
//   border-radius: 1rem;
//   padding: 1rem;
//   background: white;

//   display: grid;
//   grid-template-columns: 1fr;

//   @media screen and (max-width: 370px) {
//     padding: 0.25rem;
//   }

//   & > .right {
//     // display: grid;
//     // grid-template-rows: auto auto;
//     // justify-content: center;
//     // gap: 1rem;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     gap: 1em;
//   }
// }

// .header {
//   display: flex;
//   gap: 10%;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-start;
//   max-height: 50%;

//   & > * {
//     width: 100%;
//   }

//   & > div {
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//   }
//   h1,
//   span {
//     width: 100%;
//     text-align: center;
//   }

//   h1 {
//     font-size: 2em;
//   }
//   span {
//     font-size: 1.2em;
//   }
// }

// .form-container {
//   display: flex;
//   padding-inline: 1rem;
//   justify-content: center;
//   gap: 1rem;
//   width: 100%;
//   flex-wrap: wrap;
// }

// .auth-wrapper {
//   display: flex;
//   align-items: center;
//   justify-content: space-evenly;
//   flex-direction: column;
//   height: auto;
//   & > * {
//     width: 100%;
//   }
// }

// .button-container {
//   display: flex;
//   justify-content: center;
//   gap: 1rem;
//   flex-direction: row;
//   flex-wrap: wrap;
//   margin-bottom: 1rem;
// }

// .left {
//   display: none;
//   appearance: none;
// }

// @media screen and (min-width: 750px) and (min-height: 700px) {
//   .card {
//     grid-template-columns: 1fr auto;
//   }

//   .left {
//     display: unset;
//     appearance: unset;
//     padding: 1rem;
//     img:not(.img--guard) {
//       width: 100%;
//       height: 100%;
//     }
//   }

//   .img--guard {
//     max-height: 60%;
//     // height: 200px;
//     // width: 200px;
//   }
// }
