<section class="wrapper">
  <p-divider></p-divider>
  <div class="container">
    <span>Made by: Vincent Thomas</span>
    <div>
        <a href="mailto:vincent.nathan.thomas@gmail.com" target="_top">
          Contact Me
        </a>

    </div>
  </div>
</section>
