<div class="card-wrapper">
  <div class="card shadow-3 p-5">
    <h1 class="">Register</h1>
    <form [formGroup]="registerForm" class="add-form p-fluid">
      <div class="md-4 field">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon gray">
            <i class="pi pi-envelope"></i>
            <!-- www -->
          </span>
          <span class="p-float-label">
            <input
              type="text"
              id="inputgroup"
              pInputText
              formControlName="email"
              [class]="errorMsg ? 'ng-invalid' : ''"
            />
            <label for="inputgroup">Email</label>
          </span>
        </div>
        <p class="p-error" *ngIf="errorMsg">
          {{ errorMsg }}
        </p>
      </div>

      <div class="md-4 field">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon gray">
            <i class="pi pi-key"></i>
          </span>
          <span class="p-float-label">
            <input
              id="testing"
              pPassword
              formControlName="password"
              type="password"
            />
            <label for="testing">Password</label>
          </span>
        </div>
      </div>

      <div class="action-container">
        <button
          pButton
          pRipple
          type="button"
          label="Back"
          class="p-button-text p-button-secondary"
        ></button>

        <p-button
          pRipple
          [loading]="false"
          label="Register"
          [disabled]="!registerForm.valid"
          (click)="Register()"
        ></p-button>
      </div>
    </form>
  </div>
</div>
<p-toast></p-toast>
