.card-wrapper {
  padding-inline: 1rem;
  margin-inline: auto;
  padding-block: 20vh;
  width: 100%;
  max-width: 50rem;
  height: 100%;
  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.action-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 100%;
  width: 100%;
  gap: 1.5rem;
  min-width: 0;

  button,
  p-button {
    min-width: 20%;
    max-width: 10rem;
  }

  p-button,
  button {
    @media screen and (max-width: 300px) {
      width: 100%;
      max-width: none;
    }
  }

  @media screen and (max-width: 300px) {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.gray {
  background: rgb(233, 233, 233);
}

.p-error {
  position: absolute;
  margin-top: 0.5rem !important;
}

// .p-error < {
//   gap: 0rem;
// }
