$gap: 1rem;

.container {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

.inputs {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: $gap;
  @media screen and (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: unset;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: $gap;
}
