<div class="card shadow-2">
  <h1 class="card__title">
    {{ note.title }}
    <button mat-icon-button (click)="removeNote(note)">
      <i class="pi pi-times"></i>
    </button>
  </h1>
  <div class="card__chips">
    <span *ngFor="let tag of note.tags" class="chips__chip">{{ tag }}</span>
  </div>
  <p>{{ note.note }}</p>
</div>
