$padding: 1rem;

.credential-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding;
  height: 100%;
  @media screen and (max-width: 400px) {
    flex-direction: column;
    .more-icon {
      transform: rotate(90deg);
    }
    .website-link {
      display: flex;
      flex-direction: column;
      img {
        max-width: 11rem;
        max-height: 11rem;
      }
      h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      section {
        max-width: 90%;
        align-items: center;
        overflow: hidden;
      }
      // }
    }
  }
}

.website-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  img {
    max-width: 5rem;
    max-height: 5rem;
  }

  section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    h2 {
      margin: 0;
    }
  }
}

.card__left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $padding;
}

.card-btn__remove {
  display: none;
}

.menu--remove {
  display: block;
}

@media screen and (min-width: 500px) {
  .card-btn__remove {
    display: block;
  }

  .menu--remove {
    display: none;
  }
}
