// $banner: #1e293b;
$light: #fff;
$background: #f1f5f9;

@import "src/assets/scss/vars";

// @use "/vars.scss";

$header-height: 104px;

.main-container {
  max-height: 100%;
}

.page {
  $overlapDist: 4.5rem;

  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  padding-bottom: 1rem;
  min-height: var(--min-height);

  &.margin-left {
    margin-left: 250px;

    transition: all 0.5s ease;
  }
  &__box {
    background: $banner-clr;
    margin-inline: -1rem;
    padding-inline: 1rem;

    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $header-height;
      background: inherit;
      .title {
        font-size: 3rem;
        margin: 0;
        @media screen and (max-width: 500px) {
          font-size: 2.5rem;
        }

        @media screen and (max-width: 400px) {
          font-size: 2rem;
        }
        @media screen and (max-width: 350px) {
          font-size: 1.7rem;
        }
      }
    }

    .filler {
      height: $overlapDist;
      background: inherit;
    }
  }
  &__content {
    border-radius: 10px;
    margin-top: -$overlapDist;
    background: white;
    color: black;
    // min-height: var(--min-height);
    padding: 1rem;
    min-height: calc(100vh - var(--nav-height) - $header-height - 1rem);
  }
}
