<section class="credentials" *ngIf="(websites$ | async)?.length; else noData">
  <smart-website-card
    *ngFor="let website of websites$ | async"
    class="dashboard-card"
    [website]="website"
    (remove)="removeWebsite($event)"
  ></smart-website-card>
</section>
<ng-template #noData>
  <div class="no-data--container">
    <!-- <p-confirmDialog
      [style]="{ width: '50vw' }"
      [baseZIndex]="10000"
      rejectButtonStyleClass="p-button-text"
    ></p-confirmDialog> -->
    <app-no-data what="website" plural="websites"></app-no-data>
  </div>
</ng-template>
