<form class="container" [formGroup]="form">
  <span class="p-input-icon-left p-float-label input input--website">
    <i class="pi pi-server"></i>
    <input type="" id="float-input" pInputText formControlName="website" />
    <label for="float-input">Website</label>
  </span>
  <span class="p-input-icon-left p-float-label input input--username">
    <i class="pi pi-user"></i>
    <input type="text" id="float-input" pInputText formControlName="username" />
    <label for="float-input">Username</label>
  </span>
  <span class="p-input-icon-left p-float-label input input--password">
    <i class="pi pi-key"></i>
    <input
      type="password"
      id="float-input"
      pInputText
      formControlName="password"
    />
    <label for="float-input">Password</label>
  </span>

  <div class="button-container">
    <button
      label="back"
      pButton
      class="p-button-text"
      (click)="goBack()"
    ></button>
    <button
      pButton
      pRipple
      (click)="addWebsite()"
      label="Add Website"
      [disabled]="!form.valid"
    ></button>
  </div>
</form>
<p-toast></p-toast>
<!-- <p-dialog header="Title" [(visible)]="display"> Content </p-dialog> -->
<!-- <button
  type="button"
  (click)="showDialog()"
  icon="pi pi-info-circle"
  label="Show"
></button> -->
