// .container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   // justify-content: space-evenly;

//   // gap: max(10vh, 2rem)
//   gap: 2rem;

//   width: 100%;
//   height: 100%;

//   padding-bottom: 10vh;
// }

// input[pInputText] {
//   min-width: 0;
// }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  height: 100%;
  width: 100%;

  padding-bottom: max(10vh, 5rem);
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 248px;
}

.modal {
  width: max(90%, 30rem);
}
