// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

// .hero {
//   display: flex;
//   justify-content: center;
//   gap: min(20vh, 2.5rem);
//   align-items: center;
//   flex-direction: column;

//   width: 100%;
//   height: calc(100vh - 60px);

//   padding-block: 60px;
//   padding-inline: 2rem;
//   padding-top: 0;
// }

// img {
//   width: 100%;
//   max-height: 50%;
//   max-height: 20rem;
//   min-height: 10rem;
//   aspect-ratio: 1 / 1;
// }

// .punch-container {
//   display: flex;
//   flex-direction: column;
//   min-height: 0;
//   gap: 1.5rem;
//   align-items: center;
//   * {
//     text-align: center;
//   }

//   @media screen and (min-width: 500px) {
//     h1 {
//       font-size: 2rem;
//       padding: 0;
//       margin: 0;
//     }
//     span {
//       font-size: 1.2rem;
//       width: 45ch;
//     }
//   }

//   @media screen and (min-width: 700px) {
//     h1 {
//       font-size: 2rem;
//     }
//   }
// }

// .button-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   width: 12rem;
// }

// .z-index {
//   z-index: 0;
// }
