<!-- <article class="hero">
  <img src="assets/svg/password.svg" alt="teisng" />

  <section class="punch-container">
    <h1>Keep forgetting your passwords?</h1>
    <span
      >This is the solution for all your security problems. A password manager
      in the cli is the solution</span
    >
    <div class="button-container">
      <a
        mat-raised-button
        class="button"
        color="primary"
        href="https://www.npmjs.com/package/passwrd"
        >NPM</a
      >
      <a class="button" mat-raised-button color="primary" routerLink="app"
        >Dashboard</a
      >
    </div>
  </section>
</article> -->
