<section class="notes" *ngIf="(notes$ | async)?.length; else noData">
  <smart-note-card
    *ngFor="let note of notes$ | async"
    [note]="note"
  ></smart-note-card>
</section>

<ng-template #noData
  ><app-no-data what="notes" plural="notes"></app-no-data
></ng-template>
