$padding: 1rem;

.notes {
  display: grid;
  gap: $padding * 2;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-auto-rows: minmax(150px, auto);
  justify-content: center;
  max-width: 1200px;
  padding: $padding;
  justify-content: center;
  // padding-block: $padding;
}
