<article class="not-found--container">
  <img src="assets/svg/404.svg" alt="" />
  <section>
    <h1>Oh, This page doesn't exist!</h1>
    <span>Dont worry just click the links</span>
    <div class="btn-container">
      <a mat-stroked-button color="primary" routerLink="/">Home</a>
      <a mat-button [routerLink]="['/', 'auth', 'login']">{{ "Login" }}</a>
    </div>
  </section>
</article>
