// .not-found--container {
//   display: flex;
//   width: 100%;
//   height: calc(100vh - 60px);
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: center;
//   gap: 1rem;
//   padding-bottom: 60px;
//   padding-inline: 1rem;
// }

// // img {
// //   height: 45%;
// // }

.not-found--container {
  display: flex;
  justify-content: center;
  gap: min(20vh, 2.5rem);
  align-items: center;
  flex-direction: column;
  min-height: 0;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 60px);

  padding-bottom: 60px;
  padding-inline: 2rem;
  padding-bottom: 15vh;
  // padding-top: minmax(1rem, 15vh);
  @media screen and (max-width: 500px) {
    padding-inline: 0;
  }
}

img {
  width: 100%;
  height: 40%;
  max-height: 20rem;
  min-height: 10rem;
  // min-height: 10rem;
  aspect-ratio: 1 / 1;
  @media screen and (min-width: 500px) and (min-height: 800px) {
    height: 60%;
    max-height: 30rem;
  }
}

section {
  display: flex;
  flex-direction: column;
  min-height: 0;
  gap: 0.5rem;
  min-height: 0;
  align-items: center;
  * {
    text-align: center;
  }

  @media screen and (min-width: 500px) {
    h1 {
      font-size: 2rem;
      padding: 0;
      margin: 0;
    }
    span {
      font-size: 1.2rem;
      width: 45ch;
    }
  }

  @media screen and (min-width: 700px) {
    h1 {
      font-size: 2rem;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
