.main-container {
  --nav-height: 82px;
  --min-height: calc(100vh - var(--nav-height));
  @media screen and (max-width: 960px) {
    --nav-height: 74px;
    --min-height: calc(100vh - var(--nav-height));
  }
}

.profile-picture {
  border-radius: 50%;
}
